# environment & cache
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# log & file sementara
*.log
*.tmp

# output training & checkpoint gede
lightning_logs/
tft_checkpoints_*/
models/
outputs/
data/
tft_ckpt_warmup/

# virtual environment
.venv/

# vscode setting lokal
.vscode/

tft_full_eval/